target/
out/
*.class
*.iml
*.log
*.err

.classpath
.project
.settings/

src/main/AUCTIONCODE/out/
src/main/**/out/

.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dataSources.xml
